# Site settings
title: HTMLEditor Pythonista
email: ""
description: > # this means to ignore newlines until "baseurl:"
  Yet to write a description
github_username:  "Cethric"


# Where things are
source:      .
destination: ./_site
plugins:     ./_plugins
layouts:     ./_layouts
data_source: ./_data
collections: null

# Handling Reading
safe:         false
include:      [".htaccess"]
exclude:      []
keep_files:   [".git", ".svn"]
encoding:     "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Filtering Content
show_drafts: null
limit_posts: 0
future:      true
unpublished: false

# Plugins
whitelist: []
gems:      []

# Conversion
markdown:    redcarpet
highlighter: pygments
lsi:         false
excerpt_separator: "\n\n"

# Serving
detach:  false
port:    4100
host:    127.0.0.1
baseurl: "http://Cethric.github.io/HTMLEditor-Pythonista" # does not include hostname
url: "http://Cethric.github.io"

# Outputting
permalink:     date
paginate_path: /page:num
timezone: "Australia/Sydney"

quiet:    false
defaults: []

# Markdown Processors
rdiscount:
  extensions: []

redcarpet:
  extensions: ["strikethrough", "tables", "fenced_code_blocks", "autolink", "superscript", "lax_spacing"]

kramdown:
  auto_ids:       true
  footnote_nr:    1
  entity_output:  as_char
  toc_levels:     1..6
  smart_quotes:   lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

  coderay:
    coderay_wrap:              div
    coderay_line_numbers:      inline
    coderay_line_number_start: 1
    coderay_tab_width:         4
    coderay_bold_every:        10
    coderay_css:               style