<div id="header">
    <table>
        <tbody>
            <tr>
                <td class="menu_item">
                    <a href="{{ '/' | prepend: site.git_host }}"> Home </a>
                </td>
                <td class="menu_item">
                    <a href="{{ '/about' | prepend: site.git_host }}"> About </a>
                </td>
                <td class="menu_item">
                    <a id="projects_item" href="#"> Projects </a>
                </td>
                <div id="project_list" style="display:none;">
                    <p> <a href="{{ '/projects' | prepend: site.git_host }}">More Infomation</a> </p>
                    <p> <a href="https://github.com/Cethric/Cethric.github.io">Cethric.github.io</a> </p>
                    <p> <a href="{{ '/HTMLEditor-Pythonista' | prepend: site.git_host }}">HTMLEditor Pythonista</a> </p>
                    <p> <a href="{{ '/XGE' | prepend: site.git_host }}">XGE</a> </p>
                    <p> <a href="{{ '/Blender-Utilities' | prepend: site.git_host }}">Blender-Utilities</a> </p>
                    
                </div>
                <td style='position:absolute;right: 1em;'>
                    <a id="more_menu" href="#">Posts</a>
                </td>
                <div id="posts" style="right:-50em;">
                    <ul class="post-list">
                        {% for post in site.posts %}
                        <li>
                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </tr>
        </tbody>
    </table>
</div>