html, body, p {
    padding: 0;
    margin: 0;
}

body {
    background-color: #CCCCCC;
}

div#header {
    width: 100%;
    height: 2em;
    background-color: #DDDDDD;
    position: fixed;
    z-index: 10000;
}

div#project_list {
    position: absolute;
    top: 2em;
    background-color: #333333;
    padding: 1em;
    padding-top: 0;
    color: white;
    left: 4.8em;
    display: none;
    z-index: 10000;
}

div#posts {
    position: fixed;
    right: 0;
    padding-right: 1em;
    padding-left: 0.4em;
    top: 2em;
    height: 100%;
    width: auto;
    background-color: #888888;
    -webkit-transition-property: right; /* Safari */
    transition-property: right;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    overflow-x: scroll;
    overflow-y: scroll;
    z-index: 10000;
}

div#content {
    padding-top: 3em;
    padding-left: 0.5em;
    padding-bottom: 2em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-x: scroll;
    overflow-y: scroll;
}

div#footer {
    position: fixed;
    bottom: 0;
    background-color: red;
    width: 100%;
    height: 1.5em;
    color: white;
    background-color: black;
    z-index: 10000;
}

a:visited {
    color: red;
}

a a:link a:active {
    color: deepskyblue;
}